* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4da6ff;
    color: white;
    padding: 1em 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 1em 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    background-color: #3399ff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #287bb5;
}

main {
    padding: 2em 0;
}

section {
    margin-bottom: 2em;
    padding: 2em 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #3399ff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

form input, form textarea, form button, form select {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 150px;
}

form button {
    padding: 0.5em 2em;
    border: none;
    background-color: #3399ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #287bb5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td button {
    padding: 0.5em 1em;
    border: none;
    background-color: #3399ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

td button:hover {
    background-color: #287bb5;
}

footer {
    background-color: #4da6ff;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

.container img{
    width:150px;
}